// DELITE CUSTOM CSS
//Remove arrow on dlt overflow panel - overlay panel
::ng-deep .dlt-overflow-menu::after {
  display: none;
}

// Fix width 100% on tabs as it is causing big margins
::ng-deep .dlt-tab-bar ul.dlt-tab-nav li {
  width: auto;
}

::ng-deep .dlt-data-table-container .dlt-data-table thead tr th {
  padding: 0 .25rem 0 .75rem;
}

::ng-deep .dlt-filter__panel-actions {
  margin: 0 0 24px;
}

::ng-deep .dlt-filter__panel {
  align-items: flex-end;
}

::ng-deep .dlt-data-table-container .dlt-select-input {
  height: 2rem;
}

// for remove in future versions of delite
::ng-deep .dlt-table-toolbar .dlt-toolbar-content .dlt-button:not(:first-child) {
  margin: 0 0.5rem;
}
::ng-deep .dlt-table-toolbar .dlt-toolbar-content .dlt-dropdown:not(:first-child) {
  margin: 0 0.5rem;
}
// ---

::ng-deep .dlt-filter__panel-item {
  margin: 0 1.5rem 1.5rem 0;
  width: calc(25% - 1.5rem);
}

::ng-deep .dlt-modal {
  margin-bottom: 0px !important;
  width: 100%;
  padding: 32px;
}

::ng-deep .dlt-tab-bar .dlt-tab-panel {
  padding: 16px 0;
}

::ng-deep .dlt-filter__panel-actions {
  justify-content: end;
}

::ng-deep .select-arrow-icon:after {
  font-size: 1.75rem;
}
::ng-deep .select-arrow-icon::after {
  line-height: 2rem !important;
}
