// !!! CDS Overflow menu - delite overflow menu does not work for primeng table using this only as workaround
.cds-overflow-menu {

  position: absolute;
  width: auto;
  white-space: nowrap;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  color: #333;
  background: #fff;
  -webkit-box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.12);
  list-style-type: none;
  z-index: 2;
  top: -0.1rem;
  right: -0.1rem;
  background: #fff;
  padding: 0.5rem 0;
  -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.12));
  -moz-filter: 0 0 0 rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.12));
  height: auto;
}

.cds-overflow-menu a {
  color: #333;
  font-weight: 400;
  line-height: 2rem;
  text-decoration: none;
  padding: 0 1rem;
  color: #333;
  border: 0.125rem solid transparent;
  display: block;
  cursor: pointer;
}

.cds-overflow-menu a:not(.disabled):focus,
.cds-overflow-menu a:not(.disabled):hover {
  background-color: #fff;
  color: #333;
  border: 0.125rem solid #1776bf;
  outline: 0;
  text-decoration: none;
}

.cds-overflow-menu a:not(.disabled):active,
.cds-overflow-menu a:not(.disabled):first-child:active {
  background-color: #cde6f9;
  color: #333;
  border: 0.125rem solid #1776bf;
  box-shadow: none;
}

.cds-overflow-menu a.disabled,
.cds-overflow-menu a.disabled:focus {
  opacity: 0.5;
  cursor: not-allowed;
  outline: 0;
}

.cds-overflow-menu .solid-line {
  border-top: 1px solid #e5e5e5;
  margin: 0.5rem 1.125rem;
}

.cds-overflow-menu:after,
.cds-overflow-menu:before {
  bottom: 100%;
  border: none;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.cds-overflow-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  right: 16px;
  margin-left: -19px;
}

.cds-overflow-menu:before {
  border-color: rgba(113, 158, 206, 0);
  border-width: 20px;
  left: 50%;
  margin-left: -20px;
}
