<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="bc" javaclass="com.wm.util.Values">
    <value name="urlPath">rad/com.softwareag.bc.descriptors:TERad</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
</Values>
